<tr id="" class="log-entry">
	<td class="serviced">
		<% form_for(@log) do |f| %>
			<%= f.check_box :serviced %>
		<% end %>
		<%= link_to 'Service', :controller => "log", :action => :service, :id => log_item %>
	</td>
  <td class="time">
    <p><%=h log_item.updated_at.strftime("%I:%S %p") %></p>
  </td>
  <td class="name">
    <p><%=h log_item.name %></p>
  </td>
  <td class="type">
    <p><%=h log_item.contact_type %></p>
  </td>
	<td class="category">
		<p><%=h log_item.category %></p>
	</td>
  <td class="description">
    <p><%=h log_item.description %></p>
  </td>
  <% if current_user %>
  <td class="social-security">
    <p><%=h log_item.social_security %></p>
  </td>
  <% end %>
  <td class="table-options">
    <div>
    <% if current_user %>
      <%= link_to 'Edit', edit_log_path(log) %>
      <%= link_to 'Delete', log_item, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
    </div>
  </td>
</tr>