<tr id="" class="log-entry <%= log_serviced(log_item_admin) %>">
	<td class="status">
		<% form_for(log_item_admin) do |f| %>
			<%= f.check_box :serviced %>
			<%= f.submit 'Update' %>
		<% end %>
	</td>
  <td class="time">
    <p><%=h log_item_admin.created_at.strftime("%I:%S %p") %></p>
  </td>
  <td class="name">
    <p><%=h log_item_admin.name %></p>
  </td>
  <td class="type">
    <p><%=h log_item_admin.contact_type %></p>
  </td>
	<td class="category">
		<p><%=h log_item_admin.category %></p>
	</td>
  <td class="description">
    <p><%=h log_item_admin.description %></p>
  </td>
  <% if current_user %>
  <td class="social-security">
    <p><%=h log_item_admin.social_security %></p>
  </td>
  <td class="table-options">
    <div>
      <%= link_to 'Edit', edit_log_path(log_item_admin) %>
      <%= link_to 'Delete', log_item_admin, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </td>
	<% end %>
</tr>