<h1>Editing log</h1>

<% form_for(@log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :contact_type %><br />
    <%= f.select :contact_type,
                  Log::CONTACT_TYPES,
                 :prompt => "Select your status"
    %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :social_security %><br />
    <%= f.text_field :social_security, :maxlength => 4, :size => 4 %>
  </p>
  <p>
    <label><%= f.check_box :serviced %> User serviced</label>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @log %> |
<%= link_to 'Back', logs_path %>
