<div id="logs">
  <div id="header">
    <h1><a href="./">Queens College</a></h1>

    <div id="wrapper">
      <div id="welcome">
        <p>Welcome to the Queens College OCT Help Desk! Please <em>fill out the sign in form</em> to the right as you wait for the next available staff member to service you with your problem. Thanks!</p>
      </div>

      <div id="signin">
        <% form_for(@log) do |f| %>
          <%= f.error_messages %>

          <fieldset>
            <legend>Contact Info</legend>
            <p class="name">
              <%= f.label :name %><br />
              <%= f.text_field :name, :class => 'required' %>
            </p>
            <p class="email">
              <%= f.label :email %><br />
              <%= f.text_field :email, :class => 'required' %>
            </p>
            <p class="social_security">
              <%= f.label "Last 4 digits of Social Security" %><br />
              <%= f.password_field :social_security, :maxlength => 4, :size => 4, :class => 'required' %>
            </p>
            <p class="contact_type">
              <%= f.label :contact_type %><br />
              <% Log::CONTACT_TYPES.each do |type, value| %>
                <span class="radio">
                <%= f.radio_button :contact_type, type, "class" => "radio" %>
                <%= f.label type, type, "class" => "radio", "for" => ("log_" + :contact_type.to_s + "_" + type.downcase) %>
                </span>
              <% end %>
            </p>
          </fieldset>
          <fieldset>
            <legend>Problem</legend>
            <p class="category">
            <%= f.label :category, "I need help with&hellip;" %>
            <%= f.select	:category,
                          Log::CATEGORIES,
                          :prompt => "Select one"
            %>
            </p>
            <p class="description">
              <%= f.label :description %><br />
              <%= f.text_area :description, :class => 'required' %>
            </p>
          </fieldset>
            <p>
              <%= f.submit 'Sign in' %>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="recent_visitors">
    <h1>Recent Visitors</h1>

    <table id="recent_logs_by_time" class="log-report">
      <thead>
        <th class="service">Status</th>
        <th class="time">Time</th>
        <th class="name">Name</th>
        <th class="email">Email</th>
        <th class="type">Type</th>
        <th class="category">Category</th>
        <th class="description">Description</th>
        <th class="ip">IP</th>
      </thead>
      <tbody>
        <%= render(@logs) %>
      </tbody>
    </table>
  </div>
</div>
