<div id="logs">
  <div id="header">
    <h1><span>Queens College</span></h1>

    <div id="wrapper">
      <div id="welcome">
        <p>Welcome to the Queens College OCT Help Desk! Please <em>fill out the sign in form</em> to the right as you wait for the next available staff member to service you with your problem. Thanks!</p>
      </div>

      <div id="signin">
        <% form_for(@log) do |f| %>
          <%= f.error_messages %>

          <fieldset>
            <legend>Contact Info</legend>
            <p class="name">
              <%= f.label :name %><br />
              <%= f.text_field :name, :class => 'required' %>
            </p>
            <p class="social_security">
              <%= f.label "Last 4 digits of Social Security" %><br />
              <%= f.password_field :social_security, :maxlength => 4, :size => 4, :class => 'required' %>
            </p>
            <p class="contact_type">
              <%= f.label :contact_type %><br />
              <% Log::CONTACT_TYPES.each do |type, value| %>
                <span class="radio">
                <%= f.radio_button :contact_type, type, "class" => "radio" %>
                <%= f.label type, type, "class" => "radio", "for" => ("log_" + :contact_type.to_s + "_" + type.downcase) %>
                </span>
              <% end %>
            </p>
          </fieldset>
          <fieldset>
            <legend>Problem</legend>
            <p class="description">
              <%= f.label :description %><br />
              <%= f.text_area :description, :class => 'required' %>
            </p>
          </fieldset>
            <p>
              <%= f.submit 'Sign in' %>
            </p>
        <% end %>
      </div>
    </div>
  </div>

  <div id="recent_visitors">
    <h1>Recent Visitors</h1>

    <table id="recent_logs_by_time" class="log-report">
      <tbody>
        <% @logs.each do |log| %>
        <tr id="" class="log-entry">
          <td class="time">
            <%=h log.updated_at.strftime("%I:%S %p") %>
          </td>
          <td class="name">
            <%=h log.name %>
          </td>
          <td class="type">
            <%=h log.contact_type %>
          </td>
          <td class="description">
            <p><%=h log.description %></p>
          </td>
          <% if current_user %>
          <td class="social-security">
            <p><%=h log.social_security %></p>
          </td>
          <% end %>
          <td class="table-options">
            <div>
            <% if current_user %>
              <%= link_to 'Edit', edit_log_path(log) %>
              <%= link_to 'Delete', log, :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
