<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Logs: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'activlog' %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<% if protect_against_forgery? %>
	<script type='text/javascript'>
	//<![CDATA[
	  window._auth_token_name = "#{request_forgery_protection_token}";
	  window._auth_token = "#{form_authenticity_token}";
	//]]>
	</script>
	<% end %>
	<%= javascript_include_tag 'application' %>
	<script type="text/javascript">
		$(function() {
			$('input.radio').css('display','none');
			$('span').bind('change', function() {
				$('span').removeClass("active");
				$(this).addClass("active", $(this).find(":checked").length? true : false);
			});
		});
	</script>
</head>
<body>

<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>


<div id="page">
	<div id="user_nav">
		<% if current_user %>
			<%= link_to "Edit profile", edit_user_path(:current) %>
			<%= link_to "Logout", logout_path %>
		<% else %>
			<%= link_to "Register", new_user_path %>
			<%= link_to "Log in", login_path %>
		<% end %>
	</div>
	
	<%= yield %>
</div>

</body>
</html>
